progress-bar {
    .progress-outer {
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: -6px;
        position: relative;
        height: 6px;
        margin-bottom: 15px;
    }
 
    .progress-inner {
        min-width: 1%;
        height: 6px;
        white-space: nowrap;
        overflow: hidden;
        background-color: #297AD4;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
