<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let matchCard of matchCards | async" class="card">
        <ion-item class="card-header">
            <h3>{{matchCard.subCategory}}</h3>
        </ion-item>
        <ion-card-content>
            <div class="question">
                {{matchCard.question}}
            </div>
            <div class="options">
                <div *ngFor="let option of matchCard.options">
                    <!--<match-card-option [betClick]="betClicked(matchCard.id, option, matchCard.options)"></match-card-option>-->
                    <button ion-button block (click)="betClicked(matchCard.id, option, matchCard.options)">
                        <ion-item>
                            {{option.name}}
                            <div item-right *ngIf="option.result && option.result != 0" >
                                <span>{{option.result}} pts.</span>
                            </div>
                        </ion-item>
                    </button>
                    <!--<progress-bar [progress]="option.betPercentage"></progress-bar>-->
                </div>
            </div>
            <div class="bet-close">
                Bets close: {{matchCard.betsClose}}
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
